<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>TV Show #{{ show.id }}</h1>
    <h4>Titulo</h4>
    <p>{{ show.title }}</p>
    <h4>Canal</h4>
    <p>{{ show.network }}</p>
    <h4>Release Date</h4>
    <p>{{ show.release_date }}</p>
    <h4>Descripciòn</h4>
    <p>{{ show.description }}</p>
    <h4>Actualizacion</h4>
    <p>{{ show.updated_at }}</p>
    <a href="/shows/{{ show.id }}/edit">Editar</a> | <a href="/shows/{{ show.id }}/delete">Eliminar</a>
</body>
</html>