{% extends 'base.html' %}
{% block content %}
  <!-- Informacion-->
<div id="view_nav">
    <h1>Hello, {{user.first_name}}. Read about this trip!</h1>
    <div id="view_nav_right">
        <a href="/dashboard" id="dashboard">Dashboard</a>
        <form action="logout" method="POST">
            {% csrf_token %}
            <input type="submit" value="LOGOUT" class="button" id="logout">
        </form>
    </div>
</div>

<div id="view_main">

    <div id="trip_details">
        <h2>{{this_trip.destination}}</h2>
        
        <p>Created On: {{this_trip.created_at}}</p>
        <p>Last Updated: {{this_trip.updated_at}}</p>
        <p>Descripción: {{this_trip.plan}}</p>
        <p>Created By: {{this_trip.created_by.first_name}} {{this_trip.created_by.last_name}}</p>


        {% if user == created_by %}
        <div id="edit_trip">
            <a href="{{this_trip.id}}/remove">Remove</a> | <a href="{{this_trip.id}}/edit">Edit</a>
        </div>
        {% endif %}
    </div>
    <!-- Otros usuarios que siguen el grupo-->

    <div id="joined_by">
        <p>People who've joined this Group:</p>
        <ul>
            {% for joined_user in all_joined_users %}
                {% if joined_user == user %}
                <li><span>You</span></li>
                {% endif %}

                {% if joined_user != user %}
                <li>{{joined_user.first_name}} {{joined_user.last_name}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>

{% endblock %}