<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
#header{
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: 5px auto;
}
#container{
    border: 1px solid black;
    width: 400px;
    text-align: center;
    margin: 10px auto;
}
</style>

</head>
<body>
<!-- <h1 id="header">welcome to the homepage</h1> -->
<p id="header">La hora y fecha actuales</p>

<div id="container">

    <h1>{{date}}</h1>
    <h1>{{time}}</h1>

</div>

</body>
</html>