* {
    margin: 0px;
    padding: 0px;
}

div#position{
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    font-weight: bold;
}

ul {
    list-style-position: inside;
    color: red;
    text-align: justify;
}
