<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <div class="big container-fluid">
        <h1>Edit User: {{user['id']}}</h1>
        <form action="/users/{{user['id']}}/update" method="POST">
            <div class="form-group">
                <label for="ffname">Nombre: </label>
                <input type="text" id="ffname" name="fname" class="form-control" placeholder="{{user['fname']}}">
            </div>
            <div class="form-group">
                <label for="llname">apellido: </label>
                <input type="text" id="llname" name="lname" class="form-control" placeholder="{{user['lname']}}">
            </div>
            <div class="form-group">
                    <label for="eemail">Correo</label>
                    <input type="text" id="eemail" name="email" class="form-control" placeholder="{{user['email']}}">
                </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        <a href="/users/{{user['id']}}" class="badge badge-primary">Mirar</a>  
</body>
</html>